parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	auth0: Auth0\SDK\Auth0([
		'domain' : 'acmeprg.eu.auth0.com',
		'client_id' : 'URckrNU3htNUQKLB1U6C4b7XWbwCKJun',
		'client_secret' : 'Bv2ExczUU0ghCV21DUAbistHPWHVz5s03tnxThuL4KmtCUQfOicSNYeKzkb8vKVO',
		'redirect_uri' : 'http://localhost:8000/callback',
		'persist_user' : false,
		'store': false
		'debug' : true
	])
	auth0Authenticator: App\Model\Auth0Authenticator
