parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	auth0Authenticator: App\Model\Auth0Authenticator
	auth0: Auth0\SDK\Auth0([
    'domain' : 'unicoder.auth0.com',
    'client_id' : '5UgUjkEXwUC89gEF2zWYji5Cs8giDWnH',
    'client_secret' : 'L20UZy5EJcrQB99GjOc2YE-ZlzglF61WS1HO7QTM-eFdZ6LFAlfEiM35zzhnlDA1',
    'redirect_uri' : 'http://localhost:8000/callback',
    'persist_user' : false,
    'store': false
    'debug' : true
  ])
